* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: #1b262c;
}

.header {
    margin: 20px;
}

.navbar {
    background-color: #086972;
    height: 25px;
    border-radius: 10px;
    padding: 30px;
}

.navbar a {
    color: white;
    background-color: #17b978;
    padding: 8px;
    margin: 5px;
    border-radius: 10px;
    text-decoration: none;

}

.about {
    background-color: #086972;
    border-radius: 10px;
    height: 200px;
    margin: 20px;
}

.about p {
    color: white;
    text-align: center;
    padding-top: 50px;
}

.chat {
    background-color: #1a274c;
    border-radius: 10px;
    height: 400px;
    margin: 20px;
}

.chat p {
    color: white;
    text-align: center;
    padding-top: 50px;
}